@using Microsoft.AspNet.Identity
@using WebDocTruyenOnline.Models
@using WebDocTruyenOnline.Common


@if (Request.IsAuthenticated)
            {
    <div class="pull-right" style="margin-top: 8px;">
        <div class="user-menu">
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()

                //var sess = (UserLogin)Session[CommonConstants.USER_SESSION];
                var user = new ApplicationDbContext();
                string email = User.Identity.GetUserName();
                var model = user.Users.SingleOrDefault(x => x.UserName == email);
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            @(model.FullName)
                            <span class="caret"></span> </a>
                        <ul class="dropdown-menu">
                            @try
                            {
                            if (model.Roles.SingleOrDefault(x => x.UserId == User.Identity.GetUserId()).RoleId == "admin")
                            {
                                <li><a href="/Admin/Home/Index" style="color:forestgreen;font-weight:900">Trang quản trị</a></li>
                                <li role="separator" class="divider"></li>
                            }
                            }
                            catch { }
                            <li><a href="/Manage/Edit?id=@User.Identity.GetUserId()">Thông tin người dùng</a></li>
                            <li><a href="/stories/folowing">Truyện đang theo dõi</a></li>
                        </ul>
                     </li>
                     <li><a href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a></li>
                </ul>
            }
        </div>
    </div>
}
else
{
    <div class="pull-right" style="margin-top: 8px;">
        <div class="user-menu">
            <button class="btn btn-primary" data-toggle="modal" data-target="#modal-login-register">Đăng nhập / Đăng ký</button>
        </div>
        <div id="modal-login-register" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="row">
                            <div class="col-sm-6">
                                @{ Html.RenderAction("Dangki", "Home");}

                            </div>
                            <div class="col-sm-6">
                                @{ Html.RenderAction("DangNhap", "Home");}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                    }
